DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

DJANGO_SECRET_KEY=
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=

NOMINATIM_URL=
NOMINATIM_USER_AGENT=
GEOCODER_CLASS=

SSO_ENABLED=
OIDC_DISCOVERY_URL=
OIDC_CLIENT_ID=
